<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="BankingV1"  > 

             <test name="Bankingapp test">
             <parameter name="browser" value="ie"></parameter>
                     <classes>
                     
                             <class name ="com.inetbanking.testcases.TC_LoginTest_001" />
                     </classes>
             </test>


                   

</suite>